[{:itonami.blueprint/social-impact [:worker-safety :industrial-continuity :supply-chain-resilience]
  :itonami.blueprint/domain :manufacturing/packing-bottling-labelling-scheduling-logistics-coordination
  :itonami.blueprint/required-technologies [:robotics :identity :audit-ledger]
  :itonami.blueprint/isco-08 "8183"
  :itonami.blueprint/name "Packing, Bottling and Labelling Machine Operators Plant Scheduling and Logistics Coordination Practice"
  :itonami.blueprint/governor :pack-coord-governor
  :itonami.blueprint/robotics true
  :db/id -1
  :itonami.blueprint/status :public-oss
  :itonami.blueprint/id "cloud-itonami-isco-8183"
  :itonami.blueprint/license "AGPL-3.0-or-later"}]
